.footer
  .footer-main 
    .footer-main__block1 © 2022 г. АО “Саханефтегазсбыт”  
    .footer-main__block2  
      .footer-main__block2__info1 
        p Разработано в  
      .footer-main__block2__info2
        include ../../../static/img/svg/logo_platforma.svg  
  