header
  .header-main 
    .header-main__block1 
      p Договор ИП1234567890
      .header-main__block1__status  Активен
    .header-main__block2
      .header-main__block2_info1 
        .image_wal  
        include ../../../static/img/svg/wallets.svg 
        div Баланс: 450 000 ₽ 
      .header-main__block2_info2 
        .image_peop 
        include ../../../static/img/svg/people.svg 
        div ИП Иванов А.В 
        .arrow 
        include ../../../static/img/svg/arrow_down_black.svg
  .header-border       