.last-transaction  
  table 
    tr 
      th Параметр
      th Значение
    tr
      td.semibold Номер договора
      td ИП1234567890
    tr
      td.semibold Уникальный идентификатор платежа
      td 000000000000000000000
    tr
      td.semibold Статус договора
      td.actived Активен
    tr
      td.semibold Дата заключения
      td 31 января 2023
    tr
      td.semibold Срок действия
      td 31 января 2020
    tr
      td.semibold Валюта договора
      td Рубли
    tr
      td.semibold Страна заключения
      td Россия
    tr
      td.semibold Регион заключения
      td Республика Саха (Якутия)
    tr
      td.semibold Порядок оплаты
      td Предоплатный
    tr
      td.semibold Персональный менеджер
      td Иванова Анастасия Валерьевна
    tr
      td.semibold Телефон персонального менеджера
      td +7 (987) 65-43-21
    tr
      td.semibold E-mail персонального менеджера
      td IvanovaAV@sngs.ru
    tr
      td.semibold Автопролонгация
      td Не подключена