.pagination
  .pagination-view
    p Показывать по:
    .pagination-view__select
      p 20
      include ../../../static/img/svg/chevron-down.svg
  .pagination-links
    a(href="#")  Пред. 
    a(href="#" class="pagination-links__link active") 1
    a(href="#" class="pagination-links__link") 2
    a(href="#" class="pagination-links__link") 3
    a(href="#" class="pagination-links__link") 4
    a(href="#" class="pagination-links__link") 5
    a(href="#") След 
    a(href="#") В конец      