.last-transaction  
  table 
    tr 
      th Параметр
      th Значение
    tr
      td.semibold Имя личного менеджера
      td Иванова Анастасия Валерьевна
    tr
      td.semibold Телефон
      td +7 (987) 65-43-21
    tr
      td.semibold E-mail
      td IvanovaAV@sngs.ru     
    tr
      td.semibold Время работы
      td 9:00 – 20:00
     
button История транзакции 