.last-transaction  
  table 
    tr 
      th Параметр
      th Значение
    tr
      td Имя личного менеджера
      td Иванова Анастасия Валерьевна
    tr
      td Телефон
      td +7 (987) 65-43-21
    tr
      td
        
    tr
      td
        .last-transaction__section
          include ../../../static/img/svg/conc.svg
          .last-transaction__section_desc2
            .semibold Вывод средств
      td -5000 ₽
      td.last-transaction__section__date 10.12.2022
      td.semibold Ваша транзакции
button История транзакции 