.tabs-finance
  table 
    tr 
      th Параметр
      th
        .s Значение
    tr
      td.semibold Доступный остаток
      td
        .s 450 000 ₽
    tr
      td.semibold Последний платеж по договору
      td
        .s 123 500 ₽
    tr
      td.semibold Расход топлива за текущий месяц
      td
        .s 0 ₽ / 0л
    tr
      td.semibold Скидка
      td
        .s 5%
button Пополнить счет 