.tabs-finance
  //- .tabs-finance__row
  //-   .tabs-finance__row_head
  //-     .semibold Параметр
  //-     .semibold Значение
  //-   .tabs-finance__row_body
  //-     .tabs-finane__row_column
  //-       .tabs-finance__row__column__body
  //-         .semibold Доступный остаток
  //-         .tabs-finance__row__column__body_data 
  //-           p 450 000 ₽
  //-       .tabs-finance__row__column__body
  //-         .semibold Последний платеж по договору
  //-         .tabs-finance__row__column__body_data 
  //-           p 123 500 ₽
  //-       .tabs-finance__row__column__body
  //-         .semibold Расход топлива за текущий месяц
  //-         .tabs-finance__row__column__body_data 
  //-           p 0 ₽ / 0л
  //-       .tabs-finance__row__column__body
  //-         .semibold Скидка
  //-         .tabs-finance__row__column__body_data 
  //-           p 5%
  table 
    tr 
      th Параметр
      th
        .s Значение
    tr
      td.semibold Доступный остаток
      td
        .s 450 000 ₽
    tr
      td.semibold Последний платеж по договору
      td
        .s 123 500 ₽
    tr
      td.semibold Расход топлива за текущий месяц
      td
        .s 0 ₽ / 0л
    tr
      td.semibold Скидка
      td
        .s 5%