.tabs-finance
  .tabs-finance__row
    .tabs-finance__row_head
      .semibold Параметр
      .semibold Значение
    .tabs-finance__row_body
      .tabs-finane__row_column
        .tabs-finance__row__column__body
          .semibold Доступный остаток
          .tabs-finance__row__column__body_data 
            p 450 000 ₽
        .tabs-finance__row__column__body
          .semibold Последний платеж по договору
          .tabs-finance__row__column__body_data 
            p 123 500 ₽
        .tabs-finance__row__column__body
          .semibold Расход топлива за текущий месяц
          .tabs-finance__row__column__body_data 
            p 0 ₽ / 0л
        .tabs-finance__row__column__body
          .semibold Скидка
          .tabs-finance__row__column__body_data 
            p 5%
