.this-card-limits
  table 
    tr
      th Тип ограничения
      th Категория
      th Группа
    tr 
     td(colspan="3").this-card-limits__message 
        p На данный момент для данной карты не установлены ограничения
  table 
    tr
      th Позиция
      th Период
      th Количество
      th Использовано
      th Остаток
    tr
      td(colspan="5").this-card-limits__message 
        p На данный момент для данной карты не установлены лимиты