
extends ../layout/app

block styles
  link(rel="stylesheet", href="css/index.css")

block page
  .main-container
    include ../chunk/components/nav
    .container
      include ../chunk/components/header
      main.index-main
        .cards-container
          h1 Карты
          .cards-container-main 
            .cards-container-main__cards
              .cards-container-main__cards__block
                .cards-container-main__cards__select
                  .status
                    p Статус
                    include ../../static/img/svg/arrow_down_black_forCards.svg
                  .type 
                    p Тип карты
                    include ../../static/img/svg/arrow_down_black_forCards.svg
                .cards-container-main__cards__myCards  
                  table 
                    tr 
                      th 
                        .cards-container-main__cards__myCards__checkbox 
                          input#check(type="checkbox", name="", class="check")
                      th Номер
                      th Тип карты
                      th Статус
                    tr
                      td
                        .cards-container-main__cards__myCards__checkbox 
                          input#check(type="checkbox", name="", class="check")
                      td.cards-container-main__cards__myCards__number  1234 5678 9012 3456
                      td Виртуальная
                      td.actived Активна
                    tr
                      td 
                        .cards-container-main__cards__myCards__checkbox 
                          input#check(type="checkbox", name="", class="check")
                      td.cards-container-main__cards__myCards__number 1234 5678 9012 3478
                      td Пластиковая
                      td.blocked Заблокирована
              .cards-container-main__cards__all
                h3 Действия
                .cards-container-main__cards__all__options 
                  .cards-container-main__cards__all__option 
                    include ../../static/img/svg/money.svg
                    button Оплата услуг
                  .cards-container-main__cards__all__option
                    include ../../static/img/svg/add-card.svg
                    button Заказать карты
                  .cards-container-main__cards__all__option
                    include ../../static/img/svg/group-add.svg
                    button#myBtn1 Добавить группу
                  .cards-container-main__cards__all__option
                    include ../../static/img/svg/group.svg
                    button#myBtn2 Переименовать группу
                  .cards-container-main__cards__all__option
                    include ../../static/img/svg/group-add.svg
                    button Добавить в группу
                  .cards-container-main__cards__all__option
                    include ../../static/img/svg/group-off.svg
                    button Удалить группу
                  .cards-container-main__cards__all__option
                    include ../../static/img/svg/block.svg
                    button Заблокировать
                  .cards-container-main__cards__all__option
                    include ../../static/img/svg/unblock.svg
                    button Разблокировать
                  .modal#myModal1
                    .modal-content
                      .modal-content__close
                        span.close 
                          include ../../static/img/svg/close.svg
                      .modal-content__action
                        h3 Добавление группы
                        input(type="text", placeholder="Введите название группы")
                        .modal-content__action__buttons
                          button.modal-content__action__buttons__add Добавить
                          button.modal-content__action__buttons__cancel Отменить
                    .modal#myModal2
                    .modal-content
                      .modal-content__close
                        span.close 
                          include ../../static/img/svg/close.svg        
                      .modal-content__action
                        h3 Переименование группы
                        input(type="text", placeholder="Введите название группы")
                        .modal-content__action__buttons
                          button.modal-content__action__buttons__add Переименовать
                          button.modal-content__action__buttons__cancel Отменить      
            .cards-container-main__actions
        include ../chunk/components/pagination
      include ../chunk/components/footer