
extends ../layout/app

block styles
  link(rel="stylesheet", href="css/index.css")

block page
  .main-container
    include ../chunk/components/nav
    .container
      include ../chunk/components/header
      main.index-main
        .index-main__personalArea
          h1 Личный кабинет
          .index-main__personalArea__tabs
            .index-main__personalArea__tabs_list
              div.active-tab
                .active-tab-border
              a(class="menu-link active_tab", data-block-id="block1", href="#") Финансы
              a(class="menu-link", data-block-id="block2", href="#") Последние транзакции   
              a(class="menu-link", data-block-id="block3", href="#") Личный менеджер
              a(class="menu-link", data-block-id="block4", href="#") Общая информация     
          #block1.menu-block.active    
            include ../chunk/components/tabs_finance.pug
          #block2.menu-block
            include ../chunk/components/last_transaction.pug
          #block3.menu-block 
            include ../chunk/components/personal_manager.pug 
            
      include ../chunk/components/footer
