
extends ../layout/app

block styles
  link(rel="stylesheet", href="css/index.css")

block page
  .main-container
    include ../chunk/components/nav
    .container
      include ../chunk/components/header
      main.index-main
        .supports
          h1 Поддержка
          p.supports__desc Если вы нашли ошибки в работе сервиса или у вас есть предложения по его улучшения, то пожалуйста заполните форму
          .dropdown
            .dropdown-trigger
              button(aria-controls="dropdown-menu", aria-haspopup="true").supports__select  
                p Тема обращения
                include ../../static/img/svg/arrow_down_black_forCards.svg
            .dropdown-menu#dropdown-menu(role='menu')
              .dropdown-content
                a.dropdown-item(href='#') Топливные карты
                a.dropdown-item(href='#') Личный кабинет
                a.dropdown-item(href='#') Взаиморасчеты
                a.dropdown-item(href='#') Обслуживание на АЗС
                a.dropdown-item(href='#') Электронный документооборот
                a.dropdown-item(href='#') Жалобы и предложения
                a.dropdown-item(href='#') Отчетные документы
          .supports__email
            .supports__title
              p E-mail 
              .red *  
            input#support_email(type="text", name="", placeholder="Введите ваш E-mail")
          .supports__number
            .supports__title
              p Телефон
              .red *  
            input#support_number(type="text", name="", placeholder="Введите ваш номер телефона")
          .supports__message 
            h3 Текст сообщения
            textarea(name="", cols="30", rows="10", placeholder="Введите ваш запрос")
          .supports__files
            h3 Вложение
            .suports__files__container
              include ../../static/img/svg/attach-file.svg
              .supports__files__container__block
                input(type='file' id='file-input' accept='.txt, .pdf, .doc, .docx')
                label(for='file-input') Прикрепить файл
          .supports__buttons
            button.supports__buttons__send Отправить
            button.supports__buttons__clear Очистить
      include ../chunk/components/footer