@import "./block/nav.scss";
@import "./block/header.scss";
@import "./block/footer.scss";
@import "./block/personalArea.scss";
@import "./block/last_transaction.scss";
@import "./block/personal_manager.scss";
@import "./block/cards.scss";
@import "./block/pagination.scss";
@import "./block/support.scss";
@import "./block/this_card.scss";

@font-face {
  font-family: "RobotoCondensed-Light";
  src: url("../fonts/RobotoCondensed-Light.ttf");
}

@font-face {
  font-family: "RobotoCondensed-LightItalic";
  src: url("../fonts/RobotoCondensed-LightItalic.ttf")
}

@font-face {
  font-family: "RobotoCondensed-BoldItalic";
  src: url("../fonts/RobotoCondensed-BoldItalic.ttf")
}

@font-face {
  font-family: "RobotoCondensed-Regular";
  src: url("../fonts/RobotoCondensed-Regular.ttf")
}

@font-face {
  font-family: "RobotoCondensed-Bold";
  src: url("../fonts/RobotoCondensed-Bold.ttf");
}

body {
  padding: 0;
  margin: 0;
  overflow-y: hidden;
  height: 100%;
  max-width: 100vw;
  margin-right: 0;

  .main-container {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-areas: "nav content";
    height: 100vh;
    overflow: auto;
    nav {
      grid-area: "nav";
      height: 100%;
    }

    .container {
      overflow-x: hidden;
      grid-area: "content";
      display: flex;
      flex-direction: column;
      min-height: 100%;
      width: 100%;
      // z-index: 1;
      
      .index-main {
        flex: 1;
        margin-left: 50px;
      }
    }
  }
}