@import "./block/nav.scss";
@import "./block/header.scss";
@import "./block/footer.scss";
@import "./block/personalArea.scss";
@font-face {
  font-family: "RobotoCondensed-Light";
  src: url("../fonts/RobotoCondensed-Light.ttf");
}
@font-face {
  font-family: "RobotoCondensed-LightItalic";
  src: url("../fonts/RobotoCondensed-LightItalic.ttf")
}
@font-face {
  font-family: "RobotoCondensed-BoldItalic";
  src: url("../fonts/RobotoCondensed-BoldItalic.ttf")
}
@font-face {
  font-family: "RobotoCondensed-Regular";
  src: url("../fonts/RobotoCondensed-Regular.ttf")
}
@font-face {
  font-family: "RobotoCondensed-Bold" ;
  src: url("../fonts/RobotoCondensed-Bold.ttf");
}
body{
  padding:0;
  margin:0;
  overflow-y: hidden;
  height: 100vh;
  max-width: 100vw;
  margin-right: 0;
  .main-container{
    display: grid;
    grid-template-columns: 300px 1fr;

    grid-template-areas: "nav content";
    // flex-direction: row;\
    // justify-content: center;
    height: 100vh;
    overflow: auto; /* Добавляем полосы прокрутки */
    nav{
      grid-area: "nav";
      height: 100%;
    }
    .container{
      overflow-x:hidden;
      grid-template-rows: repeat(12, 1fr);
      grid-area: "content";
      display: grid;
      // justify-items: stretch;
      min-height: 100vh;
      width: 100%;
      z-index: 1;
      // width: calc(100% - 300px);
      
      .index-main{
        // flex:1 0 auto;
        margin-left: 50px;
      }
      
      
    }
  }
}
