include ../chunk/icons/icons.pug
include ../chunk/components/breadcrumbs.pug
doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="initial-scale=1.0, width=device-width, user-scalable=no")
    title Главная
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css")
    link(rel="stylesheet", href="css/main.css")
    block styles
    script(src='vendor/jquery-3.6.1.min.js')
    script(src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js")
  body
    block page
    script(src="js/common.js")
    script(src="js/menu.js") 
//- spartakv.beget.tech ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIIPpxatc5Mp0/fGcuSRbyjmQKzg3+ZzVxejl+K+OqDtF
//- 5.101.153.187 ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIIPpxatc5Mp0/fGcuSRbyjmQKzg3+ZzVxejl+K+OqDtF
//- yakutskcity.ru,89.253.229.86 ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBJWCurxhUI4Sl+h1bcrrqFpPscj06VXLvlidFd3FExwCsCrq4RPrYAZB7f/Py5iRERT0+ZrnQcNztxzaT38FjYA=
//- github.com ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOMqqnkVzrm0SdG6UOoqKLsabgH5C9okWi0dh2l9GKJl
